venv/*
.idea/
.vscode/
__pycache__
*.pyc
local_settings.py
media/*

rest_framework_swagger/
admin/
.pytest_cache/*

package.json
package-lock.json
node_modules/*
solr_app/*
schema.xml
nginx.txt
gunicorn.txt

